<!DOCTYPE html>

<html>
	<head>
        <title>{{ metas.site }}</title>
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="/style.css" inline>
	</head>
	<body>
		<header style="width: 100%;">
            <img src="{{ metas.icon }}" width="128" height="128">
            <h1>A website about me.</h1>
		</header>
        <div style="width: 100%; background: #282a2e;">
        <details>
            <summary>About me</summary>
            <pre>
My name is Ján Gajdoš and I'm 18 years old programmer coding in C & Zig!

You can find me on:
- <a href="https://github.com/LowByteFox">Github</a>
- <a href="https://codeberg.org/LowByteFox">Codeberg</a>
- <a rel="me" href="https://twitter.com/LowByteFox">Twitter</a>
- <a rel="me" href="https://fosstodon.org/@LowByteFox">Mastodon</a>
            </pre>
        </details>
		<details>
			<summary>Personal Projects</summary>
			<pre>
<span><a href="https://codeberg.org/LowByteFox/ZeonDB">ZeonDB</a> - Collection based DB. Mix of Graph &amp; Key-Value DB with git branches</span>
<span><a href="https://buchtajs.com">Buchta</a> - Bun-First build tool for frontend, similar like Vite (abandoned)</span>
<span><a href="https://github.com/LowByteFox/Senko">Senko</a> - Multipurpose tool for unix &amp; unix-like platforms</span>
<span><a href="https://github.com/LowByteFox/bun.nvim">bun.nvim</a> - NeoVim plugin for Bun JavaScript runtime</span>
<span><a href="https://codeberg.org/LowByteFox/foxdo">foxdo</a> - Minimal sudo</span>
<span><a href="https://github.com/FoxArtix/foxnit">foxnit</a> - Runit wrapper</span>
			</pre>
		</details>
        <div style="padding: 5px;"></div>
        <em>Website created from my friend's <a href="https://oxetene.github.io/">website</a></em>
        </div>
	</body>
</html>
